<.header>
  Edit Person
  <:subtitle>Update person information.</:subtitle>
  <:actions>
    <.link href={~p"/people/#{@person}"}>
      <.button>Back</.button>
    </.link>
  </:actions>
</.header>

<.person_form changeset={@changeset} action={~p"/people/#{@person}"} />
