<.flash_group flash={@flash} />
<.header>
  People
  <:actions>
    <.link href={~p"/protected/people/new"}>
      <.button>New Person</.button>
    </.link>
  </:actions>
</.header>

<div class="py-4">
  <%= for person <- @people do %>
    <.person_card person={person} />
  <% end %>
</div>

<.pagination
  page_number={@page_number}
  total_pages={@total_pages}
  per_page={@per_page}
  path="/people"
/>
